{% extends 'main/layout.html' %}

{% block title %}Contact Page{% endblock %}

{% block content %}
<div class="features">
    <h1>Contact us</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet autem dolores eius excepturi exercitationem hic illo
    in ipsa laborum laudantium nobis nulla obcaecati odit praesentium, quam sunt suscipit tenetur voluptates?</p>
    <p> Phone number for contact us: +4823456342</p>
    <button class="btn btn-danger">Return to home page</button>
</div>
{% endblock %}
